
.entireapp {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  background-color: blue;
  color: grey;

}


.borderspace {
margin-bottom: 10pt;
padding: 10pt;
border-color: lavender;
border-style: double;
}

.headline {
  margin-top: 20pt;
  color: white;
  margin-left: 5%;

}

.space {
  margin-top: 2%;
  margin-left: 10pt;
}

.buttonspace{
  padding: 5pt;
  margin-left: 5pt;
}



.gamestatus{
 
  color: red;
}

